* {
  color: #2d2424;
  padding: 0;
  margin: 0;
}

#home,
#projects,
#footer,
#contact {
  background-color: #f0f0cb;
}

#home {
  padding-top: 7rem;
}

section {
  padding-top: 5rem;
}

p {
  margin: 0 !important;
}

div.imgContainer {
  min-width: 15em;
  min-height: 15em;
  max-width: 15em;
  max-height: 15em;
  padding: 13px;
  display: inline-block;
}
